header {
  background-color:#f1f1f1;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
  font-weight: bold;
  color:#005ea1;
  padding: 10px;}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  justify-content:center;}

ul.topnav li a {
  display: block;
  color: #515151;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;}

ul.topnav li a:hover {
  background-color:#515151;
  color:#f1f1f1;}