header {
  background-color: #f1f1f1;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
color:#515151;
  padding: 10px;}
h2 {text-decoration-style: solid;
font-style: oblique}
body {background-color:#0094a1;}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  text-align: center; }