h1 {font-size:xx-large;
color:rgb(108, 108, 194);
text-align: center;}
h3 {text-decoration-style: solid;
font-style: oblique;
text-align: center;
color:rgb(108, 108, 194)}
body {background-color:rgb(246, 246, 252);}
li {text-align: center;
font-size: larger;}
p {text-align: center;
font-size: large;}