h1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: lightskyblue;
text-align: center; }
h2 {text-align: center;
text-decoration-style: solid;}
p {text-align: center;}
img {
  display: block;
  margin: auto;
  width: 30%; }
body {background-color:antiquewhite;}