header {font-size:xx-large;
color:#0028a1;
text-align: center;}
h2 {text-decoration-style: solid;
font-style: oblique;
color:#0028a1}
body {background-color:rgb(231, 232, 235)}
.flex-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;}